.index-wrapper {
  overflow: hidden;
}
.index-wrapper .content-box {
  font-size: 0;
}
.index-wrapper .content-box .partA .topBox {
  position: relative;
  top: 0;
  left: 0;
  z-index: 300;
}
.index-wrapper .content-box .partB {
  display: flex;
}
.index-wrapper .content-box .partB .leftBox {
  position: relative;
  top: 0;
  left: 0;
  z-index: 200;
}
.index-wrapper .content-box .partB .rightBox {
  position: relative;
  top: 0;
  left: 0;
  z-index: 100;
  width: 0;
  flex-grow: 1;
}
