.index-wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 1210px;
  width: 100%;
}
.index-wrapper .content-box {
  border: 1px solid #000;
  height: 100%;
  min-height: 625px;
  flex-grow: 1;
}
.index-wrapper .content-box .huiBen-box {
  height: 100%;
  display: flex;
}
.index-wrapper .content-box .huiBen-box button {
  outline: none;
  padding: 0;
  height: 20px;
  line-height: 18px;
  border-radius: 0;
  border: 1px solid #000;
}
.index-wrapper .content-box .huiBen-box input {
  text-indent: 4px;
  outline: none;
  border: 1px solid #000;
}
.index-wrapper .content-box .huiBen-box select {
  outline: none;
  border: 1px solid #000;
}
.index-wrapper .content-box .huiBen-box .left {
  flex-grow: 1;
  min-width: 205px;
  overflow-y: auto;
  padding: 38px 0;
}
.index-wrapper .content-box .huiBen-box .left .page-item {
  margin: 0 auto;
  width: 184px;
  height: 96px;
  background-color: #5b9bd5;
  border: 1px solid #41719c;
  margin-bottom: 16px;
}
.index-wrapper .content-box .huiBen-box .left .active {
  border: 3px solid #ffc000;
}
.index-wrapper .content-box .huiBen-box .left .add-item {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 184px;
  height: 96px;
  border: 1px solid #000;
}
.index-wrapper .content-box .huiBen-box .middle {
  flex-grow: 1;
  color: #333;
  width: 580px;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}
.index-wrapper .content-box .huiBen-box .middle .iframe-box {
  height: 332px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.index-wrapper .content-box .huiBen-box .middle .btn-box1 {
  font-size: 0;
  padding: 8px 0;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}
.index-wrapper .content-box .huiBen-box .middle .btn-box1 button {
  padding: 0 14px;
  margin-right: 4px;
}
.index-wrapper .content-box .huiBen-box .middle .btn-box2 {
  font-size: 0;
  padding-bottom: 8px;
}
.index-wrapper .content-box .huiBen-box .middle .btn-box2 button {
  font-size: 16px;
  padding: 0 15px;
  height: 24px;
  line-height: 22px;
}
.index-wrapper .content-box .huiBen-box .middle .bottom-ctrl {
  display: flex;
}
.index-wrapper .content-box .huiBen-box .middle .bottom-ctrl .left-ctrl {
  flex-grow: 1;
}
.index-wrapper .content-box .huiBen-box .middle .bottom-ctrl .left-ctrl .bgImg-box {
  vertical-align: top;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
}
.index-wrapper .content-box .huiBen-box .middle .bottom-ctrl .left-ctrl .bgImg-box .text {
  float: left;
  padding-top: 8px;
  padding-right: 4px;
}
.index-wrapper .content-box .huiBen-box .middle .bottom-ctrl .left-ctrl .bgImg-box .bg {
  float: left;
  width: 170px;
  height: 96px;
  border: 1px solid #000;
  background-color: #a9d18e;
}
.index-wrapper .content-box .huiBen-box .middle .bottom-ctrl .left-ctrl .hasIpt-box {
  padding-top: 8px;
  text-align: right;
}
.index-wrapper .content-box .huiBen-box .middle .bottom-ctrl .left-ctrl .hasIpt-box label {
  margin-bottom: 0;
  font-weight: normal;
}
.index-wrapper .content-box .huiBen-box .middle .bottom-ctrl .left-ctrl .hasIpt-box input {
  width: 170px;
  height: 20px;
  text-indent: 4px;
  border: 1px solid #000;
}
.index-wrapper .content-box .huiBen-box .middle .bottom-ctrl .left-ctrl .playSty-box {
  padding-top: 6px;
  text-align: right;
  /*button{
                width: 53.8px;
              }*/
}
.index-wrapper .content-box .huiBen-box .middle .bottom-ctrl .left-ctrl .playSty-box select {
  width: 170px;
}
.index-wrapper .content-box .huiBen-box .middle .bottom-ctrl .left-ctrl .playTime-box {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-align: right;
  /*.btns{
                width: 170px;
                .btn1{
                  width: 53.8px;
                }
                .btn2{
                  width: 112px;
                }
              }*/
}
.index-wrapper .content-box .huiBen-box .middle .bottom-ctrl .left-ctrl .playTime-box .text {
  width: 107px;
  line-height: 18px;
  padding: 0 4px;
  text-align: right;
}
.index-wrapper .content-box .huiBen-box .middle .bottom-ctrl .left-ctrl .playTime-box .minAuto-box {
  display: inline-block;
  position: relative;
  width: 170px;
}
.index-wrapper .content-box .huiBen-box .middle .bottom-ctrl .left-ctrl .playTime-box .minAuto-box .minAutoPlayTime-select {
  width: 100%;
}
.index-wrapper .content-box .huiBen-box .middle .bottom-ctrl .left-ctrl .playTime-box .minAuto-box .select-ipt {
  position: absolute;
  left: 1px;
  top: 1px;
  border: none;
}
.index-wrapper .content-box .huiBen-box .middle .bottom-ctrl .right-ctrl {
  flex-grow: 1;
  padding-right: 8px;
  position: relative;
}
.index-wrapper .content-box .huiBen-box .middle .bottom-ctrl .right-ctrl .html-box {
  text-align: right;
}
.index-wrapper .content-box .huiBen-box .middle .bottom-ctrl .right-ctrl .html-box .html-textarea {
  vertical-align: top;
  width: 216px;
  height: 96px;
  font-style: oblique;
  resize: none;
  outline: none;
  border: 1px solid #000;
}
.index-wrapper .content-box .huiBen-box .middle .bottom-ctrl .right-ctrl .hasIpt-box {
  padding-top: 8px;
  text-align: right;
}
.index-wrapper .content-box .huiBen-box .middle .bottom-ctrl .right-ctrl .hasIpt-box label {
  margin-bottom: 0;
  font-weight: normal;
}
.index-wrapper .content-box .huiBen-box .middle .bottom-ctrl .right-ctrl .hasIpt-box input {
  width: 216px;
  height: 20px;
  text-indent: 4px;
  border: 1px solid #000;
}
.index-wrapper .content-box .huiBen-box .middle .bottom-ctrl .right-ctrl .btn-delete {
  position: absolute;
  right: 8px;
  bottom: 8px;
  padding: 0 14px;
}
.index-wrapper .content-box .huiBen-box .middle .bottom-other-ctrl {
  padding: 0 18px;
  display: flex;
}
.index-wrapper .content-box .huiBen-box .right {
  flex-grow: 1;
  min-width: 346px;
  padding-top: 26px;
}
.index-wrapper .content-box .huiBen-box .right .right-content .part-box {
  display: flex;
  padding: 0 8px;
}
.index-wrapper .content-box .huiBen-box .right .right-content .part-box .part-left {
  width: 127px;
  padding-left: 8px;
  padding-right: 10px;
}
.index-wrapper .content-box .huiBen-box .right .right-content .part-box .part-right {
  min-width: 216px;
  flex-grow: 1;
  text-align: center;
}
.index-wrapper .content-box .huiBen-box .right .right-content .part-box .ipt-right {
  display: flex;
  align-items: center;
}
.index-wrapper .content-box .huiBen-box .right .right-content .part-box .ipt-right .ipt {
  width: 100%;
  text-align: center;
}
.index-wrapper .content-box .huiBen-box .right .right-content .sound-box {
  padding-top: 8px;
}
.index-wrapper .content-box .huiBen-box .right .right-content .recommend-box {
  padding-top: 8px;
}
.index-wrapper .content-box .huiBen-box .right .right-content .two-btn-box {
  /*.part-right2{
              width: 106px;
              margin-right: 5px;
            }
            .part-right2:last-child{
              margin-right: 0;
            }*/
}
.index-wrapper .content-box .huiBen-box .right .right-content .two-btn-box select {
  flex-grow: 1;
}
.index-wrapper .content-box .huiBen-box .right .right-content .upload-box {
  margin-top: 16px;
  border-top: 1px solid #000;
  display: flex;
  padding: 0 8px;
  padding-top: 10px;
}
.index-wrapper .content-box .huiBen-box .right .right-content .upload-box .part-left {
  width: 0;
  flex-grow: 1;
  padding-left: 8px;
}
.index-wrapper .content-box .huiBen-box .right .right-content .upload-box .part-right {
  width: 216px;
}
.index-wrapper .content-box .huiBen-box .right .right-content .upload-box .part-right button {
  width: 106px;
}
.index-wrapper .content-box .huiBen-box .right .right-content .img-list-box {
  padding-top: 18px;
}
.index-wrapper .content-box .huiBen-box .right .right-content .img-list-box .item {
  padding-left: 12px;
  font-size: 0;
  display: flex;
  align-items: center;
  margin-top: 8px;
}
.index-wrapper .content-box .huiBen-box .right .right-content .img-list-box .item span {
  font-size: 14px;
  display: inline-block;
}
.index-wrapper .content-box .huiBen-box .right .right-content .img-list-box .item .info1 {
  width: 36px;
  height: 20px;
  border: 1px solid #000;
  background-color: #a9d18e;
}
.index-wrapper .content-box .huiBen-box .right .right-content .img-list-box .item .info2 {
  width: 124px;
  padding-left: 12px;
}
.index-wrapper .content-box .huiBen-box .right .right-content .img-list-box .item .info3 {
  width: 104px;
}
.index-wrapper .content-box .huiBen-box .right .other-box {
  width: 100%;
}
.index-wrapper .menu-box {
  width: 38px;
  height: 100%;
  line-height: 38px;
  border: 1px solid #000;
  border-left: none;
}
.index-wrapper .menu-box .menu-item {
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  writing-mode: vertical-lr;
  /*从左向右 从右向左是 writing-mode: vertical-rl;*/
  writing-mode: tb-lr;
  /*IE浏览器的从左向右 从右向左是 writing-mode: tb-rl；*/
  padding: 26px 0;
  border-bottom: 1px solid #000;
}
.index-wrapper .menu-box .active {
  background-color: #CFCFCF;
}
